.grid {
  position: relative;
  justify-content: center;
  margin: auto;
  padding: 1rem;
  max-width: 60rem;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 900px) {
  .grid {
    padding: 2rem;
  }
}
