.centerCon {
  display: flex;
  flex-direction: column;
  height: 12rem;
  align-items: center;
  justify-content: center;
}

.round {
  position: absolute;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

#cta {
  width: 100%;
  cursor: pointer;
  position: absolute;
}

#cta .arrow {
  left: 0.65rem;
  top: 0.5rem;
}
.arrow {
  position: absolute;
  bottom: 0;
  margin-left: 0px;
  width: 12px;
  height: 12px;
  background-size: contain;
  top: 15px;
}

.segunda {
  margin-top: 1rem;
}

.next::after {
  font-size: 2rem;
  font-family: fontAwesome;
  content: "\f107";
  color: #000000;
}

@keyframes bounceAlpha {
  0% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
  25% {
    opacity: 0;
    transform: translateY(10px) scale(0.9);
  }
  26% {
    opacity: 0;
    transform: translateY(-10px) scale(0.9);
  }
  55% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.arrow.primera.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.round .arrow {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.round .arrow.primera {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media screen and (min-width: 601px) {
  .centerCon {
    display: none;
  }
}
