.links-header {
	display: flex;
	flex-direction: row;
	place-content: center;
	line-height: 1rem;
}

.links-footer {
	display: flex;
	flex-direction: row;
	line-height: 1rem;
	position: sticky;
	bottom: 0;
}

.link-icons {
	font-size: 1.25rem;
	margin: 1rem;
}

.link-icons a {
	color: var(--secondary-theme-text-color);
	text-decoration: none;
	transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.link-icons a:hover {
	color: var(--primary-theme-color);
}
