.portfolio-container {
	margin: 0;
	height: auto;
}

.banner {
	background-color: var(--portfolio-section-bg-color);
	display: flex;
	flex-direction: row;
	place-content: center;
	color: var(--portfolio-section-accent-color);
	padding: 6.75rem 5.625rem;
	margin: 0 auto;
}

.portfolio-svg svg {
	width: 27rem;
	height: 21rem;
}

.bannerQuote {
	font-size: 4.5rem;
	font-weight: bold;
	text-align: right;
	max-width: 45.0625rem;
}

.bannerQuoteAuthor {
	font-size: 2.25rem;
	margin-top: 1rem;
}

.sectionTitle {
	text-align: center;
	font-size: 1.5rem;
	color: var(--primary-theme-color);
}

.projects-grid {
	display: grid;
	position: relative;
	grid-template-columns: auto auto;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	margin: auto;
	margin-top: 0;
	padding: 1rem;
	border-radius: 10px;
	width: 70rem;
	background-color: var(--primary-theme-text-color);
}

.project-card a,
.project-card a:visited,
.project-card a:focus {
	padding: 0 1rem;
	text-decoration: none;
	outline: none;
	color: var(--secondary-theme-text-color);
}

@media screen and (max-width: 375px) {
	.portfolio-container {
		padding: 1rem;
	}

	.banner {
		flex-direction: column;
		padding: 2.5rem;
	}

	.projects-grid {
		grid-template-columns: auto;
		width: auto;
	}

	.portfolio-svg svg {
		width: 18rem;
		height: 10rem;
	}

	

	.bannerQuote {
		font-size: 2.5rem;
		text-align: center;
	}

	.bannerQuoteAuthor {
		font-size: 1rem;
	}
}

@media screen and (max-width: 900px) and (min-width: 376px) {
	

	.banner {
		flex-direction: column;
		padding: 2.5rem;
	}

	.bannerQuote {
		font-size: 3rem;
		text-align: center;
	}

	.bannerQuoteAuthor {
		font-size: 2rem;
	}

	.projects-grid {
		grid-template-columns: auto;
		width: auto;
	}

}
