@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

.navbar {
	background-color: var(--primary-theme-text-color);
	padding: 1.5rem 4rem;
	z-index: 300;
}

.logo {
	text-decoration: none;
	font-size: 1.5rem;
	margin: auto 2rem;
	padding: 0;
	color: var(--primary-theme-color);
}

.logo > span {
	color: var(--intro-section-accent-color);
}

.footer {
	display: flex;
	place-content: center;
	height: 3rem;
	background-color: var(--primary-theme-text-color);
	width: 100%;
}

.navbar__navigation {
	display: flex;
	flex-direction: row;
	align-items: center;
	place-content: space-between;
}

.navbar__items {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.navbar__items div {
	margin: 1rem;
}

.navbar__items div a {
	color: var(--secondary-theme-text-color);
	text-decoration: none;
	transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.navbar__items div a:hover {
	color: var(--intro-section-accent-color);
}

.nav__item a {
	display: flex;
	flex-direction: row;
	line-height: 1rem;
}

.nav__item a p {
	margin: 0 0 0 0.5rem;
}

.nav__item__active > p {
	color: var(--intro-section-accent-color);
}

@media screen and (max-width: 620px) {
	.navbar__items {
		display: none;
	}

	.logo {
		margin: auto 0;
	}

	.navbar {
		padding: 1rem 1.5rem;
	}
}
