@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

.navbar {
	height: 6rem;
	background-color: var(--primary-theme-text-color);
	width: 100%;
	z-index: 300;
}

.logo {
	text-decoration: none;
	font-size: 1.5rem;
	margin: auto 2rem;
	padding: 0;
	color: var(--intro-section-accent-color);
}

.footer {
	display: flex;
	place-content: center;
	height: 3rem;
	background-color: var(--primary-theme-text-color);
	width: 100%;
}

.navbar__navigation {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: inherit;
}

.navbar__items {
	display: flex;
	flex-direction: row;
}

.navbar__items div {
	margin: 1rem;
}

.navbar__items div a {
	color: var(--secondary-theme-text-color);
	text-decoration: none;
	transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.navbar__items div a:hover,
.navbar__items div a:active,
.navbar__items div a:focus {
	color: var(--intro-section-accent-color);
}

.nav__item a {
	display: flex;
	flex-direction: row;
	line-height: 1rem;
}

.nav__item a p {
	margin: 0 0 0 0.5rem;
}

.spacer {
	flex: 1;
	position: relative;
}

.links-header {
	display: flex;
	flex-direction: row;
	place-content: flex-end;
	line-height: 1rem;
	margin-right: 3rem;
}

.links-footer {
	display: flex;
	flex-direction: row;
	line-height: 1rem;
	position: sticky;
	bottom: 0;
}

@media screen and (max-width: 620px) {
	.spacer,
	.logo,
	.links-header {
		display: none;
	}

	.navbar__navigation {
		place-content: center;
	}
}

@media screen and (min-width: 620px) {
	.footer,
	.links-footer {
		display: none;
	}
}
