@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-theme-color);
  height: 3rem;
}

.navbar__navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.navbar__items {
  display: flex;
  flex-direction: row;
}

.navbar__items div {
  margin: 1rem;
}

.navbar__items div a {
  color: var(--primary-theme-passive-color);
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.navbar__items div a:hover,
.navbar__items div a:active {
  color: var(--primary-theme-text-color);
}

.spacer {
  flex: 1;
}

.links {
  display: flex;
  flex-direction: row;
  width: 10rem;
  place-content: space-evenly;
}

@media screen and (max-width: 600px) {
  .navbar__items {
    display: none;
  }

  .navbar__navigation {
    flex-direction: row-reverse;
  }

  .links,
  .spacer {
    display: none;
  }
}
