.about {
  height: 100vh;
  margin: 0;
  padding: 1rem;
  background-color: var(--dark-theme-bg-color);
}

.sectionTitle {
  text-align: center;
  font-size: 1.5rem;
  color: var(--primary-theme-color);
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-column-gap: 2rem;
  margin: 0;
  padding: 1rem;
}

.content-text {
  color: var(--secondary-theme-text-color);
  font-size: 0.8rem;
}

.content-text a {
  color: var(--primary-theme-color);
  text-decoration: none;
}

.tech-list ul {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  margin-top: 1.25rem;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}

.tech-list ul li {
  position: relative;
  padding-left: 1rem;
}

.tech-list ul li::before {
  content: "▹";
  position: absolute;
  left: 0;
}

.display-img {
  padding: 1rem 0;
}

.display-img img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    60% 75%,
    0% 75%
  );
}

@media screen and (min-width: 600px) {
  .about {
    margin: 0 4.5rem;
  }

  .content-text {
    font-size: 1rem;
    grid-column-start: 2;
    grid-column-end: 4;
  }
}
