.work {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: auto;
  text-align: center;
  background-color: var(--work-section-bg-color);
}

.work-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 3.5rem;
}

.work-section-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
  color: var(--primary-theme-color);
}

/* Work Card styles */

hr {
  border: 0.25px solid var(--work-section-accent-color);
  width: 10%;
}

.work-card {
  padding: 1.25rem;
  max-width: 48rem;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
}

.work-card > h2 {
  color: var(--work-section-accent-color);
}

.work-card-content {
  margin: 1.5rem 0;
}

.work-card-content > h3,
p {
  margin: 0.5rem 0;
  font-size: clamp(1.125rem, 2vw, 1.5rem);
}
.work-card-content,
p {
  color: var(--secondary-theme-text-color);
  font-size: clamp(0.85rem, 2vw, 1.125rem);
}

@media screen and (min-width: 425px) {
  .work-section-title {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .work-card {
    padding: 2rem 6rem;
  }
}

@media screen and (min-width: 1000px) {
  .work-card {
    padding: 4rem 6rem;
  }
}
