.testimonials {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 3rem 3rem;
  height: auto;
  max-width: 60rem;
  background-color: var(--about-section-testimonial-bg-color);
}

.testimonialSectionTitle {
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
  color: var(--primary-theme-color);
}

.testimonialCard {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  place-content: center;
  margin: 1rem auto;
  padding: 0.75rem;
  max-width: 18rem;
  min-width: 8rem;
  border: 1px solid var(--portfolio-section-dark-stroke-color);
  border-radius: 1rem;
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.displayImg {
  width: 4rem;
  height: 4rem;
  margin: 0;
  border-radius: 50%;
}

.displayImg img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}

.info {
  margin: auto 1rem;
  text-align: center;
}

.name {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.75rem;
  margin: 0.5rem 0;
}

.name a,
.name a:visited,
.name a:active {
  text-decoration: none;
  color: var(--about-section-accent-color);
}

.profession {
  font-size: 0.75rem;
}

.rightSection {
  margin: 1rem 0;
}

.highlight {
  font-size: 1rem;
  font-style: normal;
  line-height: 25px;
  margin: 0.75rem 0;
}

q.highlight::before {
  content: open-quote;
  font-size: 4rem;
  font-family: serif;
  color: var(--about-section-testimonial-quote-color);
  margin-left: -1.75rem;
}

q.highlight::after,
.q::after {
  content: no-close-quote;
}

@media screen and (min-width: 425px) {
  .displayImg {
    width: 6rem;
    height: 6rem;
  }

  .name {
    font-size: 0.75rem;
  }

  .profession {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 768px) {
  .testimonials {
    flex-direction: column;
  }

  .testimonialCard {
    flex-direction: row-reverse;
    max-width: 100%;
    border: none;
  }

  .leftSection {
    flex-direction: column;
    min-width: 15.5rem;
  }

  .info {
    margin: 1rem 0;
  }

  .rightSection {
    margin: 1rem;
  }

  .name {
    font-size: 1rem;
  }

  .profession {
    font-size: 1rem;
  }

  .highlight {
    font-size: 1.25rem;
    line-height: 32px;
  }
}
