.testimonials {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0 3rem 3rem;
	height: auto;
	background-color: var(--about-section-testimonial-bg-color);
	color: #ffffff;
}

.sectionTitle {
	text-align: center;
	font-size: 1.5rem;
	color: var(--primary-theme-color);
}

.testimonialCard {
	display: flex;
	flex-direction: column;
	place-content: center;
	margin: 2rem auto;
	padding: 1.25rem;
	max-width: 48rem;
	min-width: 8rem;

	border: 2px solid #ffffff;
	border-style: dashed;
	border-radius: 2rem;
}

.leftSection {
	display: flex;
	flex-direction: row;
}

.displayImg {
	-webkit-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.4);

	width: 5rem;
	height: 5rem;
	margin: 0;
}

.displayImg img {
	width: inherit;
	height: inherit;
}

.info {
	margin: auto 1rem;
}

.name {
	font-size: 1rem;
	margin: 0 0 0.5rem 0;
}

.name a,
.name a:visited,
.name a:active {
	text-decoration: none;
	color: #ffffff;
}

.profession {
	font-size: 0.75rem;
}

.rightSection {
	text-align: justify;
}

.highlight {
	font-size: 1.25rem;
	font-style: italic;
	color: var(--about-section-accent-color);
	opacity: 0.9;
	text-align: center;
	margin: 0.5rem;
}

.testimonialText {
	position: relative;
	font-size: 0.85rem;
	line-height: 1.5rem;
}

@media screen and (min-width: 425px) {
	.displayImg {
		width: 8rem;
		height: 8rem;
	}

	.name {
		font-size: 1rem;
	}

	.profession {
		font-size: 0.75rem;
	}

	.testimonialText {
		font-size: 0.75rem;
		line-height: 1.5rem;
	}
}

@media screen and (min-width: 768px) {
	.testimonialCard {
		flex-direction: row;
	}

	.leftSection {
		flex-direction: column;
	}

	.info {
		margin: 1rem 0;
		text-align: center;
	}

	.rightSection {
		text-align: justify;
		margin: 0 1rem;
	}

	.displayImg {
		width: 12rem;
		height: 12rem;
	}

	.name {
		font-size: 1.5rem;
	}

	.profession {
		font-size: 1rem;
	}

	.highlight {
		font-size: 1.5rem;
		text-align: end;
	}

	.testimonialText {
		font-size: 1rem;
		line-height: 1.5rem;
	}
}
