.card {
  flex-basis: calc(calc(1000px - 100%) * 999);
  flex-grow: 1;

  position: relative;
  max-width: 18rem;
  height: auto;
  margin: 0.5rem;
  overflow: hidden;
  text-align: center;
  border: 1px solid var(--portfolio-section-dark-stroke-color);
}

.card a,
.card a:visited,
.card a:focus {
  text-decoration: none;
  outline: none;
}

.cardImgContainer {
  position: relative;
  height: auto;
  max-height: 15rem;
  overflow: hidden;
}

.cardImg {
  background-clip: padding-box;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.cardDescription {
  border-top: 1px solid var(--portfolio-section-stroke-color);
  padding: 0 0.5rem 0.5rem;

  display: flex;
  flex-direction: column;
}

.title {
  margin: 1rem auto 0;
}

.summary {
  text-align: left;
}

.externalLinkBtn,
.externalLinkBtn:focus,
.externalLinkBtn:visited {
  border-radius: 50%;
  color: var(--portfolio-section-banner-color);
  font-size: 0.85rem;
  background: var(--secondary-theme-text-color);
  text-decoration: none;
  margin: 0 5px;
  padding: 0.5rem;
  transition: 0.2s linear;
  border: 1px solid #bbbbbb;

  position: absolute;
  top: 0.5rem;
  right: 0;

  -webkit-box-shadow: -5px 7px 22px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: -5px 7px 22px 0px rgba(0, 0, 0, 0.28);
  box-shadow: -5px 7px 22px 0px rgba(0, 0, 0, 0.28);
}

.btnIcon {
  font-size: 1.25rem;
}
