@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");
* {
  box-sizing: border-box;
}

.intro {
  margin: 10rem auto 0;
  width: 85vw;
  min-height: 100vh;
  font-family: "IBM Plex Sans", sans-serif;
  color: #bcbcbc;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.intro-title {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.greeting {
  font-size: 1.25rem;
}

.intro-text {
  font-size: 5rem;
}

.intro-text span {
  font-weight: bold;
  color: #64ffda;
}

.intro-description {
  margin: 5px;
  font-size: 1.25rem;
  padding: 0 8rem 0 0;
}

@media screen and (max-width: 600px) {
  .intro-text {
    font-size: 2rem;
  }
  .intro-description,
  .greeting {
    font-size: 0.8rem;
    padding: 0;
  }
}
