@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");
* {
  box-sizing: border-box;
}

.intro {
  padding: 1rem;
  margin: auto;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #f7f7f7;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.intro-title {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.greeting {
  font-size: 1.5rem;
}

.intro-text {
  font-size: 4rem;
}

.intro-text span {
  font-weight: bold;
  color: #de1d3a;
}

.intro-description {
  margin: 5px;
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .greeting {
    font-size: 1rem;
  }

  .intro-text {
    font-size: 2rem;
  }
}
